.dashboardImage{
    width: 100%;
    min-height: 900px;
    height: 100%;
    z-index: -1;
    margin-bottom: -720px;
    max-height: 1000px;
    
}
.dashboardTable{
    z-index: 1;
    margin-bottom: -100px;
    width: 100%;
    height: 500px;
    border:1px solid black;


}


.dashboardSider{
    width: 100%;
    height: 60px;
    padding: 20px;
}
