.login{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}
.login__background{
    width: 100%;
    min-height: 900px;
    height: 100%;
    z-index: -1;
    margin-bottom: -720px;
    max-height: 1000px;
    filter: blur(5px);
}

.login__card{
    z-index: 1;
    width: 450px;
    flex-direction: column;
    padding: 10px;
    
}