.updateUser{
    display: flex;
    flex-direction: column;

}
.updateUserInput{

    width: 400px;
    height: 35px;
    z-index: 1;
    background-color: white;
}


.updateButton{

    margin-top: 10px;
    height: 35px;
    color: white;
    background-color: black;
}

.updateBackground{
    width: 100%;
    min-height: 900px;
    height: 100%;
    z-index: -1;
    margin-bottom: -720px;
    max-height: 1000px;
    filter: blur(5px);
}